* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container-firstView{
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(69,69,78,1) 0%, rgba(158,158,158,1) 1%, rgba(69,69,78,1) 100%);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 15%;
}

.img-logo{
    height: 200px;
}


.img-logo:hover{
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
    font-size: 20px;
}

nav ul li a{
    color:black;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color:white;
    transition: .3s;
}

.btn-contato{
    color:rgb(255, 255, 255);
    border: none;
    background: rgb(0, 0, 0);
    padding: 12px 20px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.btn-contato a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}



.btn-contato:hover{
    scale: 1.1;
    cursor: pointer;
}

.container-logo{
    display:flex;
    justify-content: center;
    margin-top: 130px;
    font-size: 60px;
}

.logo span{
    color:white;
}

.logo p{
    color:white;
    font-weight: lighter;
    font-size: 30px;
}

.container-secondView{
    display: flex;
    height: 80vh;
    width: 100%;
    border-bottom: 0.05rem solid grey;
}

.sobre{
    display:flex;
    width: 100%;
    padding: 3rem 3rem;
    justify-content: space-between;
    gap: 2rem;
}

.sobre-h{
    width: 30%;
    font-size: 1.5rem;
    font-weight: bold;
}

.sobre-p{
    width: 30%;
}

.container-thirdView{
    display:flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-bottom: 0.05rem solid grey;
}

.cardsection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 280px;
    height: 470px;
    padding: 1rem 1rem;
    background: linear-gradient(90deg, rgba(69,69,78,1) 0%, rgba(158,158,158,1) 1%, rgba(69,69,78,1) 100%);
    border-radius: 15px;
    margin-top: 45px;
    transition: 0.4s, color 0.4s;
    color: #fff;
    font-weight: 200;
    text-align: center;
    font-size: 16px;
 

}

.card:hover{
    background: linear-gradient(90deg, rgb(205, 205, 205) 0%, rgb(214, 214, 214) 1%, rgb(162, 162, 162) 100%);
    color: black;
    box-shadow: 5px 5px 10px rgb(130, 130, 130),
    -5px -5px 10px rgb(67, 67, 67);;

}

.img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.textmain {
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}


.btn-card{
    color:white;
    background-color: black;
}

.btn-card:hover{
    color: black;
    background-color: white;
}

.container-fourthView{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    padding-top: 3rem;
    gap: 1rem;
    border-bottom: 0.05rem solid grey;
}

.tatuagens{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tatuagens img {
    width: 250px;
    height: 250px;
    background: rgb(255, 0, 0);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0.7em #00000042;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: rgb(250, 250, 250) 0.2em solid;
}

.tatuagens img:hover{
    border: #000000 0.2em solid;
    cursor: pointer;
}

footer{
    font-weight: 400;
    background: linear-gradient(165deg, rgb(205, 205, 205) 0%, rgb(214, 214, 214) 1%, rgb(162, 162, 162) 100%);
    padding: 40px 0;
    height: 95px;
}

footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: rgb(67, 67, 67);
}

footer .social a{
    display:inline-block;
    text-align: center;
    font-size: 24px;
    margin: 0 8px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    color: inherit;
}

footer .social a:hover{
    color:white;
    transition: .3s;
}

footer ul{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
}

footer ul li a{
    color: inherit;
    text-decoration: none;
}

footer ul li{
    display: inline-block;
    padding: 0 15px;
}

footer ul li a:hover{
    color:white;
    transition: .3s;
}

footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgb(94, 91, 91);
}